<header *ngIf="header_noLogged">

  <div id="header_elements">

    <a href=""> <img src="../../../../assets/images/Logo.png" alt="" title="Home"></a>

    <div id="login">

      <a href="" class="text"> Iniciar sesión</a>
      <a href="">
        <img src="../../../../assets/images/Logo perfil.png" alt="" title="Profile"></a>
    </div>
  </div>

  <button (click)="switch()">switch</button>

</header>

<header *ngIf="header_Logged">

  <button (click)="isAdmin()&& !isRouterManager ? toggleSidenav() : toggleVisitorSidenav()" mat-button>
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  
  <div id="header_elements">
    <div id="teacher_elements">


      <a href=""> <img src="../../../../assets/images/Logo.png" alt="" title="Home"></a>

      <a href="" class="text">Mi trabajo</a>

      <a href="" class="text">Mis horarios</a>
    </div>

    <div id="profile">

      <a href="" class="text" id="profile_text"> Mi perfil</a>
      <a href="">
        <img src="../../../../assets/images/Logo perfil.png" alt="" title="Profile"></a>
      </div>
    </div>
    <button (click)="switch()">switch</button>
</header>
