<header *ngIf="!logged">

  <div id="header_elements">

    <a routerLink="/main"> <img src="../../../../assets/images/Logo.png" alt="" title="Home"></a>

    <div id="login">

      <a routerLink="/" class="text"> Iniciar sesión</a>
      <a routerLink="/">
        <img src="../../../../assets/images/Logo perfil.png" alt="" title="Profile"></a>
    </div>
  </div>

</header>

<header *ngIf="logged">

  <button (click)="toggleSidenav()" mat-button>
    <mat-icon fontIcon="menu"></mat-icon>
  </button>

  <div id="header_elements">
    <div id="teacher_elements">


      <a routerLink="/main"> <img src="../../../../assets/images/Logo.png" alt="" title="Home"></a>

      <a routerLink="/main/teacher-home" class="text">Mi trabajo</a>

      <a href="" class="text">Mis horarios</a>
    </div>

    <div id="profile" routerLink="/main/user-manager">

      <a class="text" id="profile_text"> Mi perfil</a>
      <a>
        <img src="../../../../assets/images/Logo perfil.png" alt="" title="Profile"></a>
    </div>
  </div>
  <a id="logout" (click)="logOut()">Cerrar sesión</a>
</header>
