<app-header></app-header>
<div id="main">
  <div class="sidenav-content">
    <app-admin-sidenav></app-admin-sidenav>
  </div>
  <div class="prueba">
    <div id="center-data">
      <div class="charts">
        <div class="chart">
          <h2>Centros visitados</h2>
          <div>
            <canvas id="lineChart"></canvas>
          </div>
        </div>
        <div class="chart doughnut-chart">
          <h2>Profesores</h2>
          <div>
            <canvas id="doughnutChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div id="button-container">
      <button class="buttons" (click)="goToPage('user-manager')">Usuarios</button>
      <button class="buttons" (click)="goToPage('center-manager')">Centros</button>
      <button class="buttons" (click)="goToPage('items-manager')">Materiales</button>
      <button class="buttons" (click)="goToPage('route-manager')">Gestionar Rutas</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
