.sidenav-content {
  width: 25%;
  height: 90vh;
  background-color: #D33086;
}

.prueba {
  margin: 3% 3%;
  width: 69%;
}

.buttons {
  background-color: #ffffff;
  border: none;
  color: #ff3a82;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 5%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.buttons:hover {
  background-color: #E0DEDF;
}

#center-data {
  height: 73%;
}

#button-container {
  margin-top: 3%;
  height: 21%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  background-color: #d9edf7;
}

#center-toolbar {
  height: 15%;
}

@media only screen and (max-width: 800px) {
  .sidenav-content {
    width: 100%;
  }
}

/* charts */
.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding-top: 0;
}
.chart {
  background-color: #fff;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}
.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #ff3a82;
  text-align: center
}
