<app-header></app-header>
<div id="content">
  <div class="centers-list-container">

    <input [(ngModel)]="searchValue" placeholder="Buscar centro..." class="search" (input)="searchCenters()">

    <mat-radio-group class="centers-list" [(ngModel)]="selectedCenter">

      <mat-radio-button class="center" *ngFor="let center of filteredCenters" [value]="center">

        <label class="radio-label">{{center.nombre}}</label>

      </mat-radio-button>

    </mat-radio-group>

    <button [disabled]="!selectedCenter.nombre" (click)="emptyCenter()" class="delete">
      Borrar selección
    </button>

  </div>

  <div class="data">

    <form (ngSubmit)="saveCenter()" [formGroup]="centerData" name="centerData">

      <div class="data-text">

        <input type="text" placeholder="Nombre del centro" value={{selectedCenter.nombre}} class="center-data" readonly>
        <input type="text" placeholder="Dirección" value={{selectedCenter.direccion}} class="center-data" readonly>
        <input type="text" placeholder="Email" value={{selectedCenter.correo}} formControlName="newEmail"
          (input)="modified = true" class="center-data" required>


      </div>

      <div class="data-buttons">
        <button *ngIf="!selectedCenter.nombre" type="submit" [disabled]="!modified" id="add">
          {{selectedCenter.nombre ? 'Editar centro' : 'Añadir centro'}}
        </button>

        <button *ngIf="selectedCenter.nombre" type="submit" [disabled]="!modified || !centerData.dirty" id="add">
          {{selectedCenter.nombre ? 'Editar centro' : 'Añadir centro'}}
        </button>

        <button *ngIf="selectedCenter.nombre" id="remove" (click)="deleteCenter()"
          [disabled]="selectedCenter == null">Eliminar centro centro</button>

      </div>

    </form>

  </div>

</div>

<app-footer></app-footer>
