.menu-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.generalContainer {
    display: block;
    align-items: center;
}

.map-container {
    width: 75%;
    height: 600px;
}

.full-width {
    width: 100%;
}
