.menu-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.generalContainer {
    display: block;
    align-items: center;
}

.full-width {
    width: 100%;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    
}

.responsive {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupos {
    min-width: 400px;
}