.mapContainer {
  display: block;
  height: 50vh;
  border-radius: 20px;
}

#map {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}


/*Panel para mostrar el mapa*/
/* .mapDisplay {

} */
