<mat-stepper #stepper>
  <mat-step>
    <div class="main">
      <h1>Nombre del centro</h1>
      <p class="arrive-text">Avda Aleatoria nº 20, 35424, Las Palmas</p>

      <div class="app-map">
        <app-map></app-map>
      </div>

      <div class="arrive-button">
        <button>Abrir en maps</button>
      </div>
      <div class="buttons">
        <button> Anterior</button>
        <button> Siguiente</button>
      </div>

      <p class="finish">Terminar jornada laboral</p>
    </div>
  </mat-step>

  <mat-step>
    <div class="main">
      <h1>Nombre del centro</h1>
      <p id="arrive-text">Avda Aleatoria nº 20, 35424, Las Palmas</p>

      <div class="app-map">
        <!--<app-map></app-map>-->
      </div>

      <div class="arrive-button">
        <button>Abrir en maps</button>
      </div>
      <div class="buttons">
        <button> Anterior</button>
        <button> Siguiente</button>
      </div>

      <p class="finish">Terminar jornada laboral</p>
    </div>

  </mat-step>

  <mat-step>

  </mat-step>

  <mat-step>

  </mat-step>

  <mat-step>

  </mat-step>
</mat-stepper>
