<app-header></app-header>
<mat-stepper #stepper *ngFor="let centre of centres">
  <mat-step>
    <div class="main">
      <h1>{{centre.centreName}}</h1>
      <p class="arrive-text">{{centre.street}}</p>

      <div class="app-map">
        <app-map></app-map>
      </div>

      <div class="arrive-button">
        <button>Abrir en maps</button>
      </div>
      <div class="buttons">
        <button (click)="previousCentre()"> Anterior</button>
        <button (click)="nextCentre()"> Siguiente</button>
      </div>

      <p class="finish">Terminar jornada laboral</p>
    </div>
  </mat-step>
</mat-stepper>
<app-footer></app-footer>
