.main-box {
  padding: 10vh 5vw 0 5vw;
  height: 79.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-search {
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 1%;
}

.user-data-box {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#logo-perfil {
  width: 3.5cm;
  margin: 5%;
}

#day-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 4px 4px;
  border: white;
}

.selected {
  background-color: green;
}

#add-user-button {
  position: absolute;
  bottom: 7%;
  right: 2%;
}

.mat-table {
  width: 100%;
  background-color: white !important;
  color: black !important;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.mat-table td {
  color: black !important;
}

.mat-table th {
  color: black !important;
}

.mat-form-field {
  margin-right: 12px;
}

.mat-header-cell {
  font-weight: bold;
}

.rows:not(.selectedRow):hover {
  background-color: #f5f5f5 !important;
}

.selectedRow {
  background-color: lightblue !important;
}

#search {
  width: 100%;
}

.header-cell {
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.08) !important;
}

#change-password-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 0 0;
}

#change-password-button:hover {
  color: #0056b3;
}

#change-password-button:disabled {
  color: #5bc0de;
}

#update-user:disabled {
  background-color: #c2185b;
}

#delete-user {
  margin-left: 15px;
}

#delete-user:disabled {
  background-color: #4c555a;
}

#admin-slide {
  color: black !important;
}

