<app-header></app-header>
<div class="main-box">

  <div class="user-search">
    <mat-form-field id="search">
      <input matInput [formControl]="searchControl" placeholder="Buscar">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Rol </th>
        <td mat-cell *matCellDef="let user"> {{user.isAdmin ? "Administrador" : "Profesor"}} </td>
      </ng-container>

      <ng-container matColumnDef="startAddress">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Dirección inicial </th>
        <td mat-cell *matCellDef="let user"> {{user.startAddress}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-cell"></tr>
      <tr class="rows" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selectedRow': row === selectedRow}">
    </table>
    <mat-paginator [pageSize]="pageSize"
                   showFirstLastButtons
                   aria-label="Select user">
    </mat-paginator>

  </div>
  <div class="user-data-box">
    <img id="logo-perfil" src="assets/images/Logo perfil.png" alt="Imagen de perfil">
    <mat-form-field class="forms">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" [(ngModel)]="name" [disabled]="isUserDeleted">
    </mat-form-field>

    <mat-slide-toggle id="admin-slide" color="primary" [(ngModel)]="role" [disabled]="isUserDeleted">Administrador</mat-slide-toggle>

    <div id="day-button-container">
      <div *ngFor="let day of selectedRow ? selectedRow.days : days">
        <button class="day-button" [ngClass]="{'selected': day.selected}" (click)="toggleDay(day)" [disabled]="isUserDeleted">{{day.name}}</button>
      </div>
    </div>

    <button id="change-password-button" mat-raised-button color="primary" (click)="openChangePasswordDialog()" [disabled]="isUserDeleted">Cambiar contraseña</button>
    <div id="update-delete-buttons">
      <button id="update-user" mat-raised-button (click)="updateUser()" color="primary" [disabled]="isUserDeleted">Editar</button>
      <button id="delete-user" mat-raised-button (click)="deleteUser()" [disabled]="isUserDeleted">Eliminar</button>
    </div>

    <button id="add-user-button" mat-fab matTooltip="Registrar un  usuario" (click)="openAddUserDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
<app-footer></app-footer>
