.sidenav {
  width: 250px;
  background-color: #f1f1f1;
  transition: all 0.3s ease-in-out;
}

.admin-button {
  display: block;
  margin: 10px auto;
  width: calc(100% - 20px);
}

.admin-button:hover {
  transform: scale(1.05);
}
