 <mat-sidenav class="sidenav" mode="side" opened="true">
  <button class="admin-button" (click)="goToPage('create-user')" mat-raised-button>
    Registrar Usuario
  </button>
  <button class="admin-button" (click)="goToPage('items-manager')" mat-raised-button>
    Lista de Materiales
  </button>
  <button class="admin-button" (click)="goToPage('center-manager')" mat-raised-button>
    Lista de Centros
  </button>
  <button class="admin-button" (click)="goToPage('user-manager')" mat-raised-button>
    Gestionar Usuarios
  </button>
  <button class="admin-button" (click)="goToPage('route-manager')" mat-raised-button>
    Gestionar Rutas
  </button>
</mat-sidenav>



